@import url('reset.css');

@font-face {
    font-family: '3x5'; /*a name to be used later*/
    src: url('/static/css/3x5.ttf') format('truetype'); /*URL to font*/
}
.container {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex: 1 1 auto;
}
.centered-wrapper {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    flex-grow: 1;
    justify-content: center;
}
a {
	color: #fff;
	text-decoration: none;
}
.clr{
	clear: both;
}
.content {
    display: -webkit-box;   /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    flex-direction: row;
    flex: 1 1 auto;
    max-width: 48rem;
	box-shadow: 0 0 .5rem 0.2rem rgba(0,0,0,0.2);
    padding: 0.5rem;
}
.content-full-page {
    flex: 1 100%;
}
.content-border {
    border: .3rem solid #19366b;
}
.expand-width {
    width: 100%;
}
h1 {
	font-size:32px;
	color:#000;
}
tr:nth-child(even) {background-color: #f2f2f2;}
/* Header Style */
.header{
	line-height: 24px;
    background: #19366b;
	text-transform: uppercase;
	position: relative;
}
.header h1 {
	font-family:'3x5', monospace;
	text-align: center;
	font-size: 60px;
	color: #f0f0f0;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}
@media screen and (min-width: 32rem) {
  .header h1 {
    font-size: 70px;
  }
}
/*Prevents the link in the header from changing formatting*/
.header h1 a {
	color: #f0f0f0;
}
.header h1 a:hover {
	color: #f0f0f0;
}
.header a {
	color: #ddd;
}
.header a:hover{
	color: #fff;
}

/* Sticky Footer */
html, body {
  margin: 0;
  height: 100%;
}
.page-wrap {
    min-height: 100%;
    margin-bottom: -3rem;
}
.page-wrap::after {
    content: "";
    display: block;
}
.footer, .page-wrap::after {
  height: 3rem;
}
.footer {
  background: #3c4049;
  color: #fff;
  text-align: center;
}
.copyright {
    padding-top: 1rem;
}
.break-word {
    word-break: break-word;
}
